__pycache__
.vscode
.pytest_cache
problem_1143_longest_common_subsequence.py
problem_92_reverse_linked_list_2.py
problem_138_copy_list_with_random_pointer.py
problem_162_find_peak_element.py
problem_105_*
problem_101_*
problem_139_*
problem_417_*